.box{
    box-shadow: 5px 5px 5px solidgray;
    color: white;
    margin: 10px;
    padding: 10px;
    height: 150px;
    width: 900px;
    border: 2px solid black;
}

.image{
    height: 90%;
    width: 100px;
    margin: 2px;
    float: left;
}
.image img{
    height: 100%;
    width: 100%;
}

.content{
    float: left;
    margin-left: 10px;
}

h3{
    font-family: arial ;
    color: gray;
}
h5,h6{
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
}